.c-cta {
  background-color: #0D2E63;
}

.c-cta-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-cta-head__title {
  font-size: min(40px, calc(40 / 1440 * 100vw));
  font-weight: bold;
  color: #fff;
}
.c-cta-head__title .large {
  font-size: min(48px, calc(48 / 1440 * 100vw));
}
.c-cta-head__catch {
  font-weight: bold;
  color: #fff;
  border: min(1px, calc(1 / 1440 * 100vw)) solid #fff;
  display: inline;
}

.c-cta-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: min(10px, calc(10 / 1440 * 100vw));
  background-color: yellow;
}